
<%= render './partials/header' %>
<section id="first">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
        <h2>About Me:</h2>
          <div class="panel panel-default">
            <div class="panel-body">
        <h3>Crazy new web developer looking to screw around with react.</h3>
            </div>
          </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
        <h2>The Project</h2>
          <div class="panel panel-default">
            <div class="panel-body">
        <h3>To create a react component which presents an RSS feed in a usable, and colorful way.</h3>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <%= react_component("RSSBox", props={pollInterval:10000, url: '/feeds'}, {prerender: true}) %>
      </div>
    </div>
  </div>
</section>
<section id="second">
</section>
